<textarea #input 
  [(ngModel)]="message"
  class="message-input"
  placeholder="Type text..."
  (focus)="focused.set(true)"
  (blur)="focused.set(false)"
  (keydown.enter)="sendMessage(); $event.preventDefault()"
></textarea>
<div class="send-button-container">
  @if (!loading()) {
    <img
      class="send-button"
      [class.disabled]="!message().trim()"
      src="send-btn.svg"
      alt="Send"
      draggable="false"
      (click)="sendMessage()"
    >
  } @else {
  <div class="loader"></div>
}