@import '../../styles.scss';

:host {
  display: flex;
  justify-content: center;
  gap: 40px;

  .language-selector {
    height: 33px;
    cursor: pointer;
  }

  .language-selector.selected {
    outline: 4px solid $color-secondary;
  }
}